/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #6c7a89;
}
*:focus {
  outline: none;
}

body {
  background-color: #e2fbf5;
} */

#admission-wrapper {
  /* position: absolute; */
  top: 50%;
  /* margin-top: -240px; */
  left: 0;
  width: 100%;

  /* margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-family: 'proxima-nova', sans-serif; */
  /* font-weight: 400; */
  font-weight: 600;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  color: #6c7a89;

  margin-bottom: 50px;
}

#admission-container {
  width: 720px;
  height: 480px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #b3bead;
  background: -moz-linear-gradient(
    45deg,
    #b3bead 0%,
    #dfe5d7 60%,
    #fcfff4 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #b3bead 0%,
    #dfe5d7 60%,
    #fcfff4 100%
  );
  background: linear-gradient(45deg, #b3bead 0%, #dfe5d7 60%, #fcfff4 100%);
}

#admission-info {
  width: 52%;
  height: 480px;
  float: left;
  background: -moz-linear-gradient(
    45deg,
    #95a5a6 0%,
    rgba(208, 215, 216, 0) 56%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #95a5a6 0%,
    rgba(208, 215, 216, 0) 56%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    45deg,
    #95a5a6 0%,
    rgba(208, 215, 216, 0) 56%,
    rgba(255, 255, 255, 0) 100%
  );

  font-size: 20px;
}
#admission-info #product {
  width: 500px;
  margin: -50px 0 -85px -65px;
}
#admission-info p {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 1px;
}
#admission-info #price {
  width: 50%;
  margin: 0 auto;
  letter-spacing: 1px;
}
#admission-info #price h2 {
  width: 100%;
  text-align: center;
  font-weight: 700;
  color: #000;
  padding-top: 10px;
}

#admission-input {
  width: 40%;
  float: right;
  /* padding: 95px 50px 25px 0; */
  padding: 50px 50px 25px 0;
}

#admission-form {
  width: 100%;
}
#admission-form input {
  margin-bottom: 15px;
}
#admission-form label {
  float: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  /* font-size: 0.6em; */
  font-size: 0.7em;
  padding: 0 0 5px 10px;
}
#admission-form #bg-label {
  margin-left: 25px;
}
#admission-form .card {
  width: 29%;
  margin: 0 10% 25px 10%;
  border: none;
  background: none;
  height: 50px;
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#admission-form .card:focus {
  -webkit-filter: none;
  filter: none;
}
#admission-form #visa {
  background-image: url('http://enwaara.se/codepen/visa.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#admission-form #mastercard {
  background-image: url('http://enwaara.se/codepen/mastercard.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 118%;
}
#admission-form #registration-no,
#admission-form #admission-holder,
#admission-form #bg-input {
  width: 100%;
  background: none;
  border: 1px solid #6c7a89;
  padding: 8px 19px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  letter-spacing: 1px;
}
#admission-form #registration-no:focus,
#admission-form #admission-holder:focus,
#admission-form #bg-input:focus {
  border: 1px solid #00b894;
}
#admission-form ::-webkit-input-placeholder {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #bdc3c7;
}
#admission-form #registration-no {
  letter-spacing: 3px;
}
#admission-form #registration-no::-webkit-input-placeholder {
  font-size: 1em;
}
#admission-form #left {
  width: 41%;
  border: 1px solid #6c7a89;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
  padding: 3px 5px;
  float: left;
  margin-top: 5px;
}
#admission-form #left #month,
#admission-form #left #year {
  background: none;
  border: none;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  float: left;
  font-size: 0.8em;
  letter-spacing: 3px;
  color: #bdc3c7;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#admission-form #left #month option,
#admission-form #left #year option {
  background: #ececec;
}
#admission-form #left p {
  float: left;
  padding-top: 2px;
  font-size: 1.2em;
  color: #bdc3c7;
  letter-spacing: 3px;
}

.expected-class {
  margin-top: 16px;
  margin-right: 20px;
}

#admission-form #bg-input {
  width: 48%;
  float: left;
  margin-left: 11%;
}
/* #admission-form .btn {
  background: #00b894;
  border: none;
  width: 100%;
  padding: 12px 10px 10px 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: #ececec;
  cursor: pointer;
  margin-top: 7%;
}
#admission-form .btn:hover {
  background: #16a085;
} */
