#reg-number-1,
#reg-number-2,
#reg-number-3,
#reg-number-4 {
  width: 86px;
  height: 40px;
  display: inline-block;
  margin-right: 8px;
}

#btn-submit:focus {
  border: 3px solid black;
}

@media (max-width: 576px) {
  .sfs-logo {
    /* width: 350px; */
    width: 450px;
  }

  #reg-number-3,
  #reg-number-4 {
  margin-top: 8px;
  }

  /* #reg-number-3 {
    margin-left: 1px;
  } */


  #reg-number-1,
#reg-number-2,
#reg-number-3,
#reg-number-4 {
  width: 66px;
  
}



}

/* .wrap-input100 {
  text-align: center;
} */

.wrap-input100 {
  margin-top: 5%;
}


.p-b-59 {
  margin-top: 10%;
}